<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Games played:</strong>
    <%= team.games_played %>
  </p>

  <p>
    <strong>Wins:</strong>
    <%= team.wins %>
  </p>

  <p>
    <strong>Draws:</strong>
    <%= team.draws %>
  </p>

  <p>
    <strong>Defeats:</strong>
    <%= team.defeats %>
  </p>

  <p>
    <strong>Goals for:</strong>
    <%= team.goals_for %>
  </p>

  <p>
    <strong>Goals against:</strong>
    <%= team.goals_against %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= team.points %>
  </p>

</div>
