.team-page
  - if current_user && (current_user.id == @tournament.creator_id || @tournament.editors.include?(current_user))
    .admin-button
      = link_to "Edytuj drużynę", edit_tournament_team_path(@tournament, @team)
      = link_to "Dodaj zawodników", new_tournament_team_player_path(@tournament, @team)
  %h1= @team.name
  .favorite-button
    - if @has_favorite
      = link_to "Usuń z ulubionych", tournament_team_favorite_path(@tournament, @team), method: :delete, data: { "turbo-method": :delete}
    - else
      = form_with(model: @favorite, url: tournament_team_favorites_path(@tournament, @team), method: :post, data: {turbo: false}) do |form|
        = form.submit "Dodaj do ulubionych", class: "link_to"
  %h4 Statystyki drużyny
  .standings-table
    %table{style: "width: 40%;"}
      %thead
        %th{ style: 'width: 10%;' } Mecze
        %th{ style: 'width: 10%;' } Wygrane
        %th{ style: 'width: 10%;' } Remisy
        %th{ style: 'width: 10%;' } Przegrane
        %th{ style: 'width: 15%;' } Bramki strzelone
        %th{ style: 'width: 15%;' } Bramki stracone
        %th{ style: 'width: 10%;' } Punkty
      %tbody
        %tr
          %td= @team.games_played
          %td= @team.wins
          %td= @team.draws
          %td= @team.defeats
          %td= @team.goals_for
          %td= @team.goals_against
          %td= @team.points
  %h4 Zawodnicy
  .standings-table
    %table
      %thead
        %tr
          %th #
          %th Zawodnik
          %th Pozycja
          %th Mecze
          %th Bramki
          %th Asysty
          %th Żółte kartki
          %th Czerwone kartki
      %tbody
        - @players.each do |player|
          %tr
            %td= player.shirt_number
            - if current_user && (current_user.id == @tournament.creator_id || @tournament.editors.include?(current_user))
              %td= link_to player.name, edit_tournament_team_player_path(@tournament, @team, player)
            - else
              %td= player.name
            %td= player.position
            %td= player.games_played
            %td= player.goals
            %td= player.assists
            %td= player.yellow_cards
            %td= player.red_cards
