= link_to "Turniej", tournament_path(@tournament.id)

%table.table.table-hover.table-striped
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} Zawodnik
      %th{scope: "col"} Pozycja
      %th{scope: "col"} Mecze
      %th{scope: "col"} Bramki
      %th{scope: "col"} Asysty
      %th{scope: "col"} Żółte kartki
      %th{scope: "col"} Czerwone kartki
  %tbody
    - @players.each do |player|
      %tr
        %td= player.shirt_number
        %td= player.name
        %td= player.position
        %td= player.games_played
        %td= player.goals
        %td= player.assists
        %td= player.yellow_cards
        %td= player.red_cards
