.standings-table
  %table
    %thead
      %tr
        %th{ style: 'width: 3%;' } #
        %th{ style: 'text-align: left; width: 32%;' } Drużyna
        %th{ style: 'width: 10%;' } Mecze
        %th{ style: 'width: 10%;' } Wygrane
        %th{ style: 'width: 10%;' } Remisy
        %th{ style: 'width: 10%;' } Przegrane
        %th{ style: 'width: 15%;' } Bramki
        %th{ style: 'width: 10%;' } Punkty
    %tbody
      - @standings.each_with_index do |standing, i|
        %tr
          %td{ style: 'font-weight: bold; width: 3%;' }
            = "#{i+1}."
          %td{ style: 'text-align: left;' }
            = link_to standing.name, tournament_team_path(@tournament.id, standing.id)
          %td{ style: 'width: 10%;' }
            = standing.games_played
          %td{ style: 'width: 10%;' }
            = standing.wins
          %td{ style: 'width: 10%;' }
            = standing.draws
          %td{ style: 'width: 10%;' }
            = standing.defeats
          %td{ style: 'width: 15%;' }
            = standing.goals_for
            \: #{standing.goals_against}
          %td{ style: 'width: 10%;' }
            = standing.points
