= link_to "Turniej", tournament_path(@tournament.id)

%table.table.table-hover.table-striped
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} Drużyna
      %th{scope: "col"} Mecze
      %th{scope: "col"} Wygrane
      %th{scope: "col"} Remisy
      %th{scope: "col"} Przegrane
      %th{scope: "col"} Bramki
      %th{scope: "col"} Punkty
      %th{scope: "col"} Ulubione
  %tbody
    - @standings.each_with_index do |standing, i|
      %tr
        %th{scope: "row"}
          = i+1
        %td= link_to standing.name, tournament_team_path(@tournament.id, standing.id)
        %td= standing.games_played
        %td= standing.wins
        %td= standing.draws
        %td= standing.defeats
        %td
          = standing.goals_for
          \: #{standing.goals_against}
        %td= standing.points
        %td
          = form_with(url: toggle_favorite_favorite_teams_users_path, method: :post, remote: true) do |form|
            = form.hidden_field :team_id, value: standing.id
            = form.button(type: "submit") do
              %span.star-icon{"data-team-id" => standing.id}
                - if current_user.favorite_teams.include?(standing)
                  %i.fas.fa-star
                  / Wypełniona gwiazdka
                - else
                  %i.far.fa-star
                  / Pusta gwiazdka

%script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/142bbe0175.js"}
