.new-lineup-continer
  - if params[:format] == "starting"
    = form_tag tournament_game_team_lineups_path(@tournament, @game, @current_team, @lineup), data: {turbo: false} do
      %h2 Wybierz skład wyjściowy
      .standings-table
        %table
          %thead
            %tr
              %th{colspan: "3"} Wybierz bramkarza
          %tbody
            - @goalkeepers.each do |goalkeeper|
              %tr
                %td{style: "width: 40px;"}
                  = radio_button_tag 'goalkeeper_id', goalkeeper.id, @goalkeeper == goalkeeper, class: "radio_box"
                %td{style: "text-align: left;"}
                  = "#{goalkeeper.shirt_number}. "
                  = goalkeeper.name
                %td
                  = goalkeeper.position
          %thead
            %tr
              %th{colspan: "3"} Wybierz zawodników z pola
          %tbody
            - @field_players.each_with_index do |field_player, i|
              %tr
                %td
                  = check_box_tag "field_players[#{i}][id]", field_player.id, @field_player == field_player, class: "checkboxes"
                %td{style: "text-align: left;"}
                  - if field_player.shirt_number
                    = "#{field_player.shirt_number}. "
                  = field_player.name
                %td
                  = field_player.position
      = submit_tag "Zatwiedź pierwszy skład", class: "button"
  - elsif params[:format] == "subs"
    = form_tag tournament_game_team_lineups_path(@tournament, @game, @current_team, @lineup), data: {turbo: false} do
      %h2 Wybierz ławkę rezerwowych
      .standings-table
        %table
          %thead
            %tr
              %th{scope: "col"} Wybierz rezerwowych
          %tbody
            - @possible_subs.each_with_index do |sub_player, i|
              %tr
                %td
                  = check_box_tag "subs[#{i}][id]", sub_player.id, @sub_player == sub_player
                  = sub_player.name
      = submit_tag "Zatwierdź ławke rezerwowych", class: "button"
