.edit-game-continer
  .go-back-arrow
    = link_to "<- Wróć do meczu", tournament_game_path(@tournament, @game)
  %h2{style: "text-align: center; margin-bottom: 1%;"}= "Edytuj mecz"
  .edit-game
    = form_for [@tournament, @game], data: {turbo: false} do |form|
      %div
        %h6 Gospodarz
        = form.collection_select :home_team_id, @tournaments_teams, :id, :name
      %div
        %h6 Gość
        = form.collection_select :away_team_id, @tournaments_teams, :id, :name
      %div
        %h6 Miejsce
        = form.text_field :location
      %div
        %h6 Data
        = form.datetime_field :date
      %div
        %h6 Status
        = form.collection_select :status, [["Nadchodzący", "upcoming"], ["Trwa", "live"], ["Zakończony", "finished"]], :last, :first
      %div
        %h6 Kolejka
        = form.collection_select :round_id, @tournaments_rounds, :id, :name
      %div
        = form.button "Edytuj", class: "button"
