.game
  .game-details
    .admin-button
      - unless Lineup.where(game_id: @game.id, team_id: @game.home_team_id).present?
        = link_to "Składy gospodarzy", new_tournament_game_team_lineup_path(@tournament, @game, @game.home_team_id, "starting")
      = link_to "Dodaj wydarzenie gospodarzy", new_tournament_game_team_single_stat_path(@tournament, @game, @game.home_team_id)
      = link_to "Edytuj mecz", edit_tournament_game_path(@tournament, @game)
      = link_to "Dodaj wydarzenie gości", new_tournament_game_team_single_stat_path(@tournament, @game, @game.away_team_id)
      - unless Lineup.where(game_id: @game.id, team_id: @game.away_team_id).present?
        = link_to "Składy gości", new_tournament_game_team_lineup_path(@tournament, @game, @game.away_team_id, "starting")
    .teams-details
      .home-team
        %h1= @game.home_team.name
      %span.vs
        - if @game.status == "not_started"
          %h3 vs
        - else
          %h2
            = @home_goals
            \- #{@away_goals}
      .away-team
        %h1= @game.away_team.name
    .date-details
      - if @game.date
        %h6= @game.date.strftime('%d.%m.%Y %H:%M')
    .location-details
      %h6= @game.try(:location)
    .home-lineups
      %table
        %tbody
          %tr 
            %td
            %th Skład wyjściowy
          %tr
            %td.shirt_numbers
              = @home_goalkeeper.try(:player).try(:shirt_number)
            %td
              = @home_goalkeeper.try(:player).try(:name)
          - @home_lineups.each do |lineup|
            %tr
              %td.shirt_numbers
                = lineup.try(:player).try(:shirt_number)
              %td
                = lineup.try(:player).try(:name)
          %tr
            %td
            %th Rezerwowi
          - @home_subs.each do |lineup|
            %tr
              %td.shirt_numbers
                = lineup.try(:player).try(:shirt_number)
              %td
                = lineup.try(:player).try(:name)
    .game-events
      %table
        %tbody
          %tr
            %th Wydarzenia
          - @game_events.each do |event|
            %tr
              %td
                - if event.team_id == @game.home_team_id
                  .home-team-event
                    - if event.stat_type == "goal"
                      = "#{event.minute}'"
                      %i.fa-regular.fa-futbol{ style: 'color: #2BAE66;' }
                      = event.first_player.name
                      - if event.second_player
                        %span{ style: 'opacity: 0.7;' }
                          = "(#{event.second_player.name})"
                    - elsif event.stat_type == "own_goal"
                      = "#{event.minute}'"
                      %i.fa-regular.fa-futbol{ style: 'color: red;' }
                      = event.first_player.name
                    - elsif event.stat_type == "yellow_card"
                      = "#{event.minute}'"
                      %i.fa-solid.fa-square{style: "color: #ffea00;"}
                      = event.first_player.name
                    - elsif event.stat_type == "red_card"
                      = "#{event.minute}'"
                      %i.fa-solid.fa-square{style: "color: #ff0000;"}
                      = event.first_player.name
                    - elsif event.stat_type == "subs"
                      = "#{event.minute}'"
                      %i.fa-solid.fa-arrows-rotate{style: "color: #2977f5;"}
                      = event.first_player.name
                      %span{ style: 'opacity: 0.7;' }
                        = "(#{event.second_player.name})"
                - elsif event.team_id == @game.away_team_id
                  .away-team-event
                    - if event.stat_type == "goal"
                      - if event.second_player
                        %span{ style: 'opacity: 0.7;' }
                          = "(#{event.second_player.name})"
                      = event.first_player.name
                      %i.fa-regular.fa-futbol{ style: 'color: #2BAE66;' }
                      = "#{event.minute}'"
                    - elsif event.stat_type == "own_goal"
                      = event.first_player.name
                      %i.fa-regular.fa-futbol{ style: 'color: red;' }
                      = "#{event.minute}'"
                    - elsif event.stat_type == "yellow_card"
                      = event.first_player.name
                      %i.fa-solid.fa-square{style: "color: #ffea00;"}
                      = "#{event.minute}'"
                    - elsif event.stat_type == "red_card"
                      = event.first_player.name
                      %i.fa-solid.fa-square{style: "color: #ff0000;"}
                      = "#{event.minute}'"
                    - elsif event.stat_type == "subs"
                      %span{ style: 'opacity: 0.7;' }
                        = "(#{event.second_player.name})"
                      = event.first_player.name
                      %i.fa-solid.fa-arrows-rotate{style: "color: #2977f5;"}
                      = "#{event.minute}'"
    .away-lineups
      %table
        %tbody
          %tr 
            %th Skład wyjściowy
          %tr
            %td
              = @away_goalkeeper.try(:player).try(:name)
            %td.shirt_numbers
              = @away_goalkeeper.try(:player).try(:shirt_number)
          - @away_lineups.each do |lineup|
            %tr
              %td
                = lineup.try(:player).try(:name)
              %td.shirt_numbers
                = lineup.try(:player).try(:shirt_number)
          %tr
            %th Rezerwowi
          - @away_subs.each do |lineup|
            %tr
              %td
                = lineup.try(:player).try(:name)
              %td.shirt_numbers
                = lineup.try(:player).try(:shirt_number)
%script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/142bbe0175.js"}