<div id="<%= dom_id single_stat %>">
  <p>
    <strong>Game:</strong>
    <%= single_stat.game_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= single_stat.team_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= single_stat.player_id %>
  </p>

  <p>
    <strong>Assistent:</strong>
    <%= single_stat.assistant_id %>
  </p>

  <p>
    <strong>Minute:</strong>
    <%= single_stat.minute %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= single_stat.stat_type %>
  </p>

</div>
