<p style="color: green"><%= notice %></p>

<%= render @single_stat %>

<div>
  <%= link_to "Edit this single stat", edit_single_stat_path(@single_stat) %> |
  <%= link_to "Back to single stats", single_stats_path %>

  <%= button_to "Destroy this single stat", @single_stat, method: :delete %>
</div>
