-# = form_with(model: [ @tournament, @team, @player ], url: tournament_team_players_path(@tournament, @team), local: true, data: {turbo: false}) do |form|
= form_tag tournament_team_players_path(@tournament, @team), data: {turbo: false} do
  %table.table.table-hover
    %thead
      %tr
        %th{scope: "col"} Imie i nazwisko
        %th{scope: "col"} Numer
        %th{scope: "col"} Pozycja
    %tbody
      - 20.times do |i|
        %tr.field
          %td= text_field_tag "players[#{i}][name]", nil, id: "player_#{i}_name"
          %td= number_field_tag "players[#{i}][shirt_number]", nil, id: "player_#{i}_shirt_number"
          %td
            - ["Bramkarz", "Obrońca", "Pomocnik", "Napastnik"].each do |pozycja|
              = radio_button_tag "players[#{i}][position]", pozycja
              = pozycja
  %div
    = submit_tag "Dodaj zawodników"