<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Shirt number:</strong>
    <%= player.shirt_number %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

  <p>
    <strong>Goals:</strong>
    <%= player.goals %>
  </p>

  <p>
    <strong>Assists:</strong>
    <%= player.assists %>
  </p>

  <p>
    <strong>Yellow cards:</strong>
    <%= player.yellow_cards %>
  </p>

  <p>
    <strong>Red cards:</strong>
    <%= player.red_cards %>
  </p>

  <p>
    <strong>Games played:</strong>
    <%= player.games_played %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

</div>
