.tournaments-navbar
  %table
    %thead
      %tr
        %th= link_to 'Przegląd', tournament_path(@tournament.id), class: ('active' if current_page?(tournament_path(@tournament.id)))
        %th= link_to 'Mecze', tournament_games_path(@tournament.id), class: ('active' if current_page?(tournament_games_path(@tournament.id)))
        %th= link_to 'Tabela', tournament_standings_path(@tournament.id), class: ('active' if current_page?(tournament_standings_path(@tournament.id)))
        %th= link_to 'Strzelcy', tournament_top_scorers_path(@tournament.id), class: ('active' if current_page?(tournament_top_scorers_path(@tournament.id)))
        - if current_user && (current_user.id == @tournament.creator_id || @tournament.editors.include?(current_user))
          %th= link_to 'Edytuj', edit_tournament_path(@tournament.id), class: ('active' if current_page?(edit_tournament_path(@tournament.id)))